@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #344054;
}

.welcome-container h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #fff;
  font-family: Plus Jakarta Sans;
}

.welcome-container h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #FEC84B;
  font-family: Plus Jakarta Sans;
}

.welcome-container button {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #1D2939;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: Plus Jakarta Sans;
}

.welcome-container button:hover {
  background-color: #ffffff;
  color: #1D2939;
}