@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
.navbar {
  background-color: #fff;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo img {
  width: 120px;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 80px;
}

.menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 800;
  font-family: Plus Jakarta Sans;
  
}

.menu ul li a:hover {
  color: #3C3679;

}

.contact-btn {
  background-color: #FAE0E1;
  color: #131126;
  border: none;
  padding: 16px 24px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
}

.contact-btn:hover {
  background-color: #fcc1c3;
}